---
import "../../styles/global.css";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Factory Reset Detail</title>
  </head>
  <body class="bg-neutral-950 text-white antialiased">
    <slot />
  </body>
</html>
